#main {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: center;      
}

.logo {
  color:orangered;
  transition: 0.3s;
  cursor: pointer;
}

.logo:hover {
  text-shadow: 0 0 10px aqua;
  
}

.form{
    margin: 5rem;
}

input:hover {
  box-shadow: 0px 0px 5px gray;
}

.form input{
    display: block;
    margin-bottom: 10px;
}

.card{
    max-height: 500px;
    width: 18rem;
    padding: 20px;
    margin: 20px;
    transition: transform 0.4s ease-in, box-shadow 0.4s ease-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.profile{
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}

@media (max-width: 600px) {
  #main {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 50%;
    height: auto;
  }
}






























